.nav-container {
    max-width: 350px;
    min-width: 350px;
    position: relative;
}
.nav {
    position: sticky;
    top: 100px;
    left: 30px;
    width: 310px;
    height: 90%;
    overflow-y: auto;
    font-size: 19px;
}
#nav-subcategory {
    cursor: pointer;
}
#nav-category {
    cursor: pointer;
    margin: 8px 0;        
}
#nav-category span {
    font-size: 22px;
}
#nav-category span:hover , #nav-subcategory li:hover, #nav-category li:hover, #nav-subcategory span:hover {
    color: var(--mastBlue);
}
#nav-category span::after {  
    content: ' Раскрыть...';
    font-size: 12px;
    color: var(--mastBlue);

} 
#nav-subcategory span::after {    
    content: ' Раскрыть...';
    font-size: 12px;
    color: var(--mastBlue);

}
#nav-category li{
    margin: 10px 15px;
    display: none;
}
#nav-subcategory li{
    cursor: pointer;
    display: none;
}


/*  */

.open li {
    display: block;
}
