.calcLog {
    width: 93%;
    min-height: 30px;
    height: auto;
    max-height: 100px;
    background: white;
    margin: 25px auto;
    box-shadow: 0 3px 7px 1px #585151;
    border-radius: 5px;
    /* display: none; */
    overflow-y: auto;
}